@import "master/theme/_navbar";

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.ad {
    background: url(../images/common/header.png);
    background-size: 100%;
    padding: 400px 0 100px;

    .creative {
        @extend .text-center;
        font-size: 152px;
        color: $white;
        text-transform: uppercase;
        line-height: 0;
    }

    p {
        @extend .text-center;
        font-size: 25px;
        color: #11749e;
        letter-spacing: 25px;
        text-transform: uppercase;
    }

    .scroll-down {

        display: block;
        margin-top: 120px;
        text-align: center;
        color: $white;

        img {
            display: block;
            margin: 20px auto 0;
        }
    }
}

.heading {
    position: relative;
    margin-bottom: 120px;

    h2 {
        @extend .text-center;
        font-size: 38px;
        text-transform: uppercase;
        color: $white;
        
        &::after {
            content: "W";
            font-size: 274px;
            color: rgba(255, 255, 255, 0.15);
            position: absolute;
            top: -142px;
            left: 41%;
        }
    }
}

.about {
    background: $primary-color;
    padding: 173px 0 130px;

    a {
        @extend .text-center;
        color: $white;
        text-transform: uppercase;
    }

    p {
        color: $white;
        line-height: 24px;
    }

    .d-flex {
        flex-direction: row;
        flex-flow: row wrap;
        @extend .text-center;

        li {
            width: 266px;
            margin-right: 20px;
        }
    }
}