#header {
  .navbar {
    background: #262933;
    min-height: 106px;
    overflow: hidden;
  }

  .logo {
    padding: 40px 0;
    
    a {
      color: #fff;
      font-size: 24px;
    }
  }

  .menu {

    padding: 46px 0;

    .active {
      
      a {
        color: #fff;
      }
    }

    a {
      color: #9d9fa5;
      padding: 0 20px;
      text-transform: uppercase;
      font: {
        size: 12px;
        weight: bold;
      }
      transition: all .3s;

      &:hover {
        color: #fff;
      }
    }
  }

  .social {
    margin-top: -5px;
  }

  .social a {

    display: block;
    width: 28px;
    height: 29px;
    padding: 0;
    margin: 0 5px;

    &.facebook {
      background: url(../images/social/fb.png) no-repeat;
    }
    &.google {
      background: url(../images/social/google.png) no-repeat;
    }
    &.twitter {
      background: url(../images/social/twitter.png) no-repeat;
    }
  }
}

// Jumbotron

.jumbotron {

  background: url(../images/header_bg.jpg) no-repeat top center;
  background-size: 100%;

  h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    padding: 70px 0;
    @extend .text-center;
  }
}

.slider {
  background: #fff;
  color: #fff;
  padding: 7px;
  box-shadow: 2px 0px 7px 1px rgba(0, 0, 0, 0.5);

  &-content {
    background: url(../images/slider-content-bg.jpg) no-repeat #2C3544;
    height: 337px;
    overflow: hidden;
  }

  &-left {
    padding: 55px 50px;
    width: 390px;
  }

  &-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  &-link {
    color: #43b5fd;
    font-size: 16px;
    font-weight: 600;
    
  }

  p {
    
    color: #c8c8c8;
    font-size: 13px;
    margin: 20px 0;
    line-height: 24px;
  }

  .more-info {
    margin-top: 36px;
  }

  .btn {
    background: #43b5fd;
    color: #fff;
    padding: 15px 30px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
    margin-right: 20px;
  }

  .btn-more-info {
    background: rgba(0, 0, 0, 0);
    border: 2px solid #6b7a86;
  }

  a:hover {
    img {
      opacity: .8;
    }
  }
}