@import "theme/variables";
@import "theme/btn";
@import "theme/navbar";
@import "theme/jumbotron";

.container {
  @include container(940px);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 50px;
}