@import "theme/variables";
@import "theme/btn";
@import "theme/navbar";
@import "theme/jumbotron";

.container {
  @include container(940px);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 50px;
}

#main {
  section {
    color: #898989;
    padding: 100px 0;
    @include clearfix;

    &:nth-child(odd) {
      background: #fafafa;
    }

    p {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.title {
  font-size: 60px;
  margin: 0 0 50px;

  b {
    color: $black;
  }
}

.development {
  .content {
    width: 680px;
  }
  .images {
    img { margin-top: 20px;}
  }
}

.branding {
  @extend .development;

  .content {
    width: 660px;
  }
}

.skills {

  .list {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    padding: 0;
  }

  .item {
    display: flex;
    width: 45%;
    margin: 0 47px 50px 0;

    img {
      display: block;
      height: 70px;
      width: 70px;
    }

    .content {
      padding-left: 20px;
    }

    h4 {
      margin: 0 0 15px;
    }
  }
}