@import "theme/variables";
@import "theme/btn";
@import "theme/navbar";
@import "theme/jumbotron";

.container {
  @include container(940px);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 50px;
}

#main {
  section {
    color: #898989;
    padding: 100px 0;
    @include clearfix;

    &:nth-child(odd) {
      background: #fafafa;
    }

    p {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.title {
  font-size: 60px;
  margin: 0 0 50px;

  b {
    color: $black;
  }
}

.development {
  .content {
    width: 680px;
  }
  .images {
    img { margin-top: 20px;}
  }
}

.branding {
  @extend .development;

  .content {
    width: 660px;
  }
}

.skills {

  .list {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    padding: 0;
  }

  .item {
    display: flex;
    width: 45%;
    margin: 0 47px 50px 0;

    img {
      display: block;
      height: 70px;
      width: 70px;
    }

    .content {
      padding-left: 20px;
    }

    h4 {
      margin: 0 0 15px;
    }
  }
}

.clients {
  
  .title {
    text-align: center;
    display: block;

    h3 {
      margin-bottom: 20px;
    }
  }

  .d-flex {
    margin-bottom: 30px;
  }

  .images {
    img {
      border: 6px solid $white;
      border-radius: 50%;
    }
  }

  blockquote {
    background: $white;
    padding: 20px 30px;
    color: #777;
    border: 1px solid #f3f3f3;
    font-size: 26px;
    line-height: 28px;
    position: relative;

    &::after {
      content: "";
      background: url(../images/common/blockquote.png) no-repeat;
      position: absolute;
      width: 20px;
      height: 25px;
      left: -20px;
      top: 41%;
    }

    span {
      display: block;
      color: #7690c5;
      font-size: 20px;
      margin: 15px 0 0 10px;
    }
  }  
}

.logo {
  padding: 60px;

  .d-flex {
    justify-content: space-around;
  }
}

.team {
  background: $black !important;
  color: $white;

  .title {
    text-align: center;
    display: block;

    h3 {
      color: $white;
      margin-bottom: 20px;
    }

    b {
      color: $white;
    }

    p {
      color: #777;
    }
  }

  .d-flex {
    justify-content: space-around;
  }

  .item {
    
    text-align: center;

    img {
      border: 7px solid $white;
      border-radius: 50%;
    }

    h4 {
      color: #fff;
      font-size: 18px;
    }

    span {
      color: #ebebeb;
      font-size: 16px;
    }
  }

  .social-share {
    padding: 0;
    margin: 20px 0 50px;
    justify-content: center;

    a {
      display: block;
      height: 40px;
      width: 40px;
      margin: 0 10px;

      &.twitter {
        background: url(../images/common/social.png) no-repeat 0 0;
      }

      &.facebook {
        background: url(../images/common/social.png) no-repeat -50px 0;
      }

      &.pinterest {
        background: url(../images/common/social.png) no-repeat -100px 0;
      }
    }
  }

  .fter {
    color: #ebebeb;
    text-align: center;
  }
}

.footer {
  background: #7690c5;
  color: $white;
  padding: 100px 0 20px;
  overflow: hidden;

  .float-left {
    width: 50%;
    margin-bottom: 100px;
    
    @include clearfix;
  }

  .title {
    font-size: 60px;

    b {color: $white};
  }

  .d-flex {
    flex-flow: row wrap;
    padding: 0;
  }

  .item {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    p {
      padding-left: 20px;
    }
  }
}

input, textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 18px;
  color: #bbb;
  padding: 16px;
  margin-bottom: 30px;
  outline: 0;
  width: 100%;
}