@import "master/theme/_navbar";
@import "master/theme/_btn";

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

#header {
    background: url(../images/header/header.jpg) no-repeat top center;
    background-size: 100%;
    overflow: hidden;

    .nav-brand {
        display: block;
        margin-top: 56px;
    }

    .header-content {
        overflow: hidden;
        
        .left {
            @extend .float-left;
            color: $white;
            margin-top: 250px;
            width: 470px;

            h1 {
                font-size: 60px;
                font-weight: 300;
            }

            p {
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                line-height: 24px;
            }
        }

        .right {

            @extend .float-left;
            
            img {
                @extend .text-center;
            }
        }
    }
}

.title-30 {
    color: #2e3b4e;
    font-size: 30px;
    font-weight: 300;
}

.title-35 {
    color: #222626;
    font-size: 35px;
    font-weight: 300;
}

.text {

    overflow: hidden;
    margin: -184px 0 0 0;
    
    p {
        color: #959595;
        font-size: 14px;
        line-height: 24px;
        margin: 0 0 40px;
    }

    .left {
        @extend .float-left;
        width: 570px;
    }

    .right {
        @extend .float-left;
        width: 630px;
        margin-top: 112px;
        padding: 0 0 0 30px;
    }
}

%box-grid {
    height: 168px;
    padding: 15px 50px 60px 40px;
    position: relative;

    h3 {
        font-size: 30px;
        font-weight: 300;
    }

    p {
        font-size: 13px;
        line-height: 24px;
    }
}

.box-grid {
    display: flex;
    color: $white;
    flex-flow: row wrap;
    margin-bottom: 100px;

    .more {
        position: absolute;
        bottom: 24px;
        
        a {
            font-size: 14px;
            color: $white;
            font-weight: 600;
        }
    }

    .small {
        width: 310px;
        @extend %box-grid;
    }

    .large {
        width: 710px;
        @extend %box-grid; 
    }
}

.box-bg-01 {
    background: url(../images/box/box_01.png) no-repeat;
}

.box-bg-02 {
    background: url(../images/box/box_02.png) no-repeat;
}

.green {
    background-color: #82ca9c;
}

.pink {
    background-color: #f5989d;
}

.dark-blue {
    background-color: #615f7d;
}

.four-col {
    margin-bottom: 160px;
}

// full-image

.full-image {
    background: url(../images/full/full.png) no-repeat;
    background-size: 100%;
    padding: 300px 0 73px;
    color: $white;

    h2 {
        font-size: 60px;
        font-weight: 300;
    }

    p {
        font-size: 13px;
        line-height: 24px;
        width: 470px;
    }

    .more {
        color: $white;
        font-size: 14px;
        font-weight: 600;    
    }
}

// .reason

.reason {
    background: #82ca9c;
    padding: 130px 0 170px;
    color: $white !important;

    .title-35 {
        color: $white;
        margin-bottom: 70px;
    }
    
    .col {
        
        h3 {
            color: $white;
        }

        p {
            color: $white;
        }
    }
}

// .buying

.buying {
    background: #f6f7fa;
    padding: 150px 0;

    .box {
        width: 50%;
        padding: 48px 55px;
    }

    .box-background {
        background: $white;
    }

    span {
        background: #e1e1e1;
        border-radius: 5px;
        color: $white;
        font-size: 11px;
        font-weight: 600;
        padding: 5px 20px;
        text-transform: uppercase;

        &.popular {
            background: #bd8cbf;
        }
    }

    .content {
        color: #8297a7;
        width: 410px;
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 30px;
    }
}

.logo-company {
    
    margin-top: 10px;

    a {
        background: url(../images/common/logo_company.png);
        display: inline-block;
        height: 26px;
        width: 26px;

        &.mac {
            background-position: 0 0;
        }

        &.windows {
            background-position: 26px 0;
        }
    }
}


.list {
    
    padding: 0;
    margin-right: 100px;

    &__item {
        font-size: 13px;
        margin-bottom: 14px;

        a {
            color: $white;
        }

        &--first {
            margin-bottom: 30px;
        }
    }
}

// footer

.footer {

    background: #192431;
    color: $white;
    padding: 130px 0 150px;
    overflow: hidden;

    &__title {
        font-size: 13px;
        font-weight: 600;
    }
    
    &__left {
        @extend .float-left;
        width: 570px;

        &--para {
            color: #f6f7fa;
            font-size: 13px;
            line-height: 24px;
        }
    }

    &__right {
        @extend .float-right;
        width: 470px;

        .mail {
            background: $white;
            width: 360px;
            padding: 15px;
            @extend .float-left;
        }

        .submit {
            border: 0 none;
            background: #82ca9c url(../images/common/submit.png) center no-repeat;
            width: 60px;
            float: left;
            padding: 0;
            text-align: center;
            height: 52px;
            cursor: pointer;
        }

        form {
            margin-bottom: 20px;
            overflow: hidden;
        }

        &--para {
            color: #57697f;
            font-size: 12px;
        }
    }
}