.container {
    max-width: 1100px;
    margin: 0 auto;
}

.text-center, .btn, .btn-2 {
    text-align: center;
}

.list-unstyled {
    list-style: none;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.btn {
    border: 1px solid #000;
    border-radius: 25px;
    color: #000;
    display: block;
    font-size: 22px;
    margin: 30px auto 10px;
    padding: 5px 0;
    text-decoration: none;
    width: 327px;
    position: relative;
}

    .btn::before {
        content: ">";
        height: 0;
        left: 50px;
        position: absolute;
        top: 4px;
        width: 0;
    }

    .btn:hover {
        text-decoration: underline;
    }

.btn-2 {
    background: #a3ca18;
    color: #fff;
    display: block;
    font-size: 2em;
    margin: 30px auto 10px;
    padding: 10px 30px;
    position: relative;
    text-decoration: none;
    width: 327px;
}

    .btn-2::after {
        content: ">";
        font-size: 1.2em;
        height: 0;
        position: absolute;
        right: 50px;
        top: 7px;
        width: 0;
    }

/* HEADER */

#header {
    border-top: 8px solid #a3ca18;
    border-bottom: 1px solid #d1c9c9;
    overflow: hidden;
}

    #header .top {
        font-size: 14px;
        margin-bottom: 40px;
        text-align: center;
    }

    #header .navbar {
        margin: 0px 0 -9px;
    }

    #header .navbar-logo {
        float: left;
    }

    #header .navbar-header {
        float: left;
        width: 230px;
    }

        #header .navbar-header p {
            font-size: 13.78px;
            margin: 20px 0 0;
        }

    #header .navbar-menu {
        display: flex;
        /*float: left;*/
    }

    #header .navbar-nav {
        display: flex;
        list-style: none;
        width: 100%;
        flex-direction: row;
    }

    #header .navbar-nav li {
        text-align: center;
        width: 100%;
    }

        #header .navbar-nav li.active, #header .navbar-nav li:hover {
            border-bottom: 4px solid #a3ca18;
        }

        #header .navbar-nav li a {
            display: block;
            font-size: 10px;
            color: #a3ca18;
            text-decoration: none;
            padding: 0 0 10px;
        }

        #header .navbar-nav li span {
            color: #000;
            display: block;
            font-size: 13.78px;
            margin: 0 0 5px;
        }

/*Intro header*/

.intro-header {
    background: url(../img/intro-header.jpg) no-repeat center center / cover;
    height: 623px;
    position: relative;
}

.intro-content {
    position: absolute;
    top: 40%;
    right: 0;
    width: 100%;
}
    .intro-content p {
        color: #fff;
        display: block;
        font-size: 37.6px;
        line-height: 10px;
    }

.intro-footer {
    background: rgba(0,0,0, 0.4);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 63px;
    width: 100%;
}

    .intro-footer .left {
        display: inline-block;

    }

    .intro-footer .right a, .intro-footer span {
        line-height: 64px;
        height: 63px;
    }

    .intro-footer span {
        color: #fff;
        font-size: 14px;
        margin-right: 20px;
        position: relative;
    }

    .intro-footer span.date::before, .intro-footer .right a::before {
        border-bottom: 5px solid transparent;
        border-left: 5px solid #a3ca18;
        border-top: 5px solid transparent;
        content: "";
        height: 0;
        left: -15px;
        position: absolute;
        top: 3px;
        width: 0;
    }

    .intro-footer .left span:first-child {
        margin-right: 50px;
    }

    .intro-footer .right {
        float: right;
    }

    .intro-footer .right a {
        background: #b6b6b6;
        color: #423e3e;
        display: block;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        width: 160px;
        position: relative;
    }

        .intro-footer .right a::before {
            border-left: 5px solid #595757;
            left: 25px;
            top: 27px;
        }

        .intro-footer .right a:hover {
            text-decoration: underline;
        }

/* Community */

.community {
    background: url(../img/car.png) no-repeat left top;
    padding: 20px 0;
}

    /*.community h2 {
        font-family: "Kozuka Gothic Pr6N";
        font-size: 33px;
    }

    .community p {
        font-size: 19px;
    }*/

    .community .btn {
        font-size: 25px;
    }

.list-container {
    display: table;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 100%;
}

.list-item {
    float: left;
    width: calc(100% / 3);
    height: 232px;
    position: relative;
}

.list-item:hover h2{
    text-decoration: underline;
}

    .list-item a {
        color: #fff;
        display: block;
        overflow: hidden;
        height: 232px;
        text-decoration: none;
        position: relative;
    }

    .list-item img {
        height: 232px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .list-item h2 {
        font-size: 28px;
    }

    .list-item p {
        font-size: 18px;
    }

    .list-item .first, .list-item .list-title  {
        margin-top: 48px;
        position: absolute;
        z-index: 2;
        margin-left: auto;
        margin-right: auto;
        left: 70px;
    }

    .bussiness .list-item .list-title {
        right: 70px;
    }

    .list-item .list-title {
        background: rgba(0, 0, 0, 0.5);
        margin-top: 88px;
        padding: 0 74px;
    }
    .list-item .list-title h2 {
        font-size: 22px;
    }

/* Contact */

span.icon-phone {
    background: url(../img/ico-phone.png) no-repeat left top;
    display: inline-block;
    width: 35px;
    height: 35px;
}

p.phone {
    font-size: 33px;
}

.contact .list-item {
    width: calc(100% / 2 - 20px);
    margin: 10px;
}
 .contact .list-item .list-title {
    background: none;
    margin: 78px 0 0 0;
    left: 0;
    padding: 0 0 0 45px;
}
.contact .list-item .list-title h2 {
    font-size: 30px;
}

