* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 1171px;
  margin: 0 auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.list-inline li{
  display: inline-block;
}

.list-unstyled {
    list-style: none;
}

.text-center {
  text-align: center;
}

.clearfix {
  clear: both;
}


body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}

header {
  height: 80px;
  background: rgba(0,0,0,0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

header a {
  color: #fff;
}

header nav li {
  font-size: 18px;
  font-weight: bold;
  padding: 30px 20px;
  color: #fff;
  text-transform: uppercase;
  line-height: 2;
}

header nav li.active a {
  color: #fb2274;
}

/*Banner*/

.banner {
  color: #fff;
  background: url(../img/bg-header.png) no-repeat top center;
  height: 900px;
  position: relative;
  background-size: cover;
  text-align: center;
}

.banner .content {
  padding-top: 18%;
}

.banner h2 {
  font-size: 100px;
  font-weight: 700;
}

.banner .pink {
  color: #fb2274;
}
.banner p {
  margin: 30px 0;
}

.banner #jump-down {
  position: absolute;
  bottom: 17%;
}

/*About*/

#about {
  text-align: center;
  padding: 100px 0; 
}

#about h3 {
  color: #444;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 66px;
}

#about p {
  color: #a9a9a9;
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 60px;
}

.btn {
  border: 2px solid #fb2274;
  color: #fb2274;
  padding: 20px 48px;
}