body {
  font-family: 'Roboto', sans-serif;
}

.sidebar {
  background: #454444;
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  height: 100%;
  padding: 0 10px 0 40px;

  a {
    color: #fff;
  }

  .logo {
    font-size: 40px;
    margin: 80px 0 0;
  }

  hr {
    background: #383838;
    border: 0;
    height: 1px;
    margin: 80px 0;
    width: 150px;
  }

  .navbar {

    a {
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: all .3s;
    }

    li {
      padding-bottom: 30px;
    }

    .active a, a:hover{
      border-bottom: 1px solid #fff;
      padding-bottom: 5px;
    }

  }
  // .navbar

  .social-share{
    position: absolute;
    bottom: 0;
    left: 0;

    li {
      border-top: 1px solid #383838;
      border-right: 1px solid #383838;
      margin: 0px -2px -5px;
      transition: background .3s;

      &::last-child {
        border-right: 0;
      }

      &:hover {
        background: #383838;
      }
    }

    a {
      display: block;
      width: 30px;
      height: 30px;
      padding: 25px;
      margin: 0 auto;

      &.facebook {
        background: url(../images/common/social/facebook.png) no-repeat center center;
      }

      &.twitter {
        background: url(../images/common/social/twitter.png) no-repeat center center;
      }

      &.gplus {
        background: url(../images/common/social/gplus.png) no-repeat center center;
      }

      &.share {
        background: url(../images/common/social/share.png) no-repeat center center;
      }
    }
  }
}