body {
  font-family: 'Roboto', sans-serif;
}

.sidebar {
  background: #454444;
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  height: 100%;
  padding: 0 10px 0 40px;
  overflow: hidden;

  a {
    color: #fff;
  }

  .logo {
    font-size: 40px;
    margin: 80px 0 0;
  }

  hr {
    background: #383838;
    border: 0;
    height: 1px;
    margin: 80px 0;
    width: 150px;
  }

  .navbar {

    a {
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: all .3s;
    }

    li {
      padding-bottom: 30px;
    }

    .active a, a:hover{
      border-bottom: 1px solid #fff;
      padding-bottom: 5px;
    }

  }
  // .navbar

  .social-share{
    position: absolute;
    bottom: 0;
    left: 0;

    li {
      border-top: 1px solid #383838;
      border-right: 1px solid #383838;
      margin: 0px -2px -5px;
      transition: background .3s;

      &::last-child {
        border-right: 0;
      }

      &:hover {
        background: #383838;
      }
    }

    a {
      display: block;
      width: 30px;
      height: 30px;
      padding: 25px;
      margin: 0 auto;
      transition: transform .3s ease;

      &.facebook {
        background: url(../images/common/social/facebook.png) no-repeat center center;
      }

      &.twitter {
        background: url(../images/common/social/twitter.png) no-repeat center center;
      }

      &.gplus {
        background: url(../images/common/social/gplus.png) no-repeat center center;
      }

      &.share {
        background: url(../images/common/social/share.png) no-repeat center center;
      }

      &:hover {
        transform: rotate(-10deg);
      }
    }
  }
}

#main {
  margin-left: 320px;
}

.list-item {
  display: flex;
  flex-wrap: wrap;

  .item {
    width: calc(100%/4);
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }

    a {
      color: #535252;
    }

    .overlay {
      background: #f4f4f4;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      height: 100%;
      width: 100%;
      transition: all .3s;

      h2 {
        font-size: 18px;
        font-weight: bold;
        margin-top: 40%;
        text-transform: uppercase;
        @extend .text-center;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 160%;
          left: 30%;
          height: 1px;
          background: #d5d5d5;
          width: 120px;
        }
      }
    }

    &:hover {

      .overlay {
        opacity: 1;
      }
    }
  }
}