@import "master/theme/_fonts";
@import "master/theme/_navbar";
@import "master/theme/_btn";

.container {
    max-width: 1260px;
    margin: 0 auto;
}

#header {
    background: url(../images/common/header.jpg);
    background-size: 100%;
    border-bottom: 10px solid $white;
    padding: 0 0 186px;
    position: relative;

    .header__bullet {
        background: url(../images/common/bullet.png);
        bottom: -61px;
        position: absolute;
        height: 110px;
        width: 106px;
        left: calc(50%/1.07);
    }
}

.social-icon {
    @extend .float-right;
    @extend .list-inline;
    margin: 30px 0;

    li {
        margin-right: 30px;
    }

    a {
        background: url(../images/common/social.png) no-repeat;
        display: block;
        height: 16px;
        transition: all .3s;
        width: 16px;

        &.twitter {
            background-position: 0 0;
        }

        &.facebook {
            background-position: -40px 0;
        }

        &.instagram {
            background-position: -80px 0;
        }

        &:hover {
            opacity: .8;
        }
    }
}

.banner {

    @extend .text-center;
    color: $white;
    padding-top: 90px;

    &__title {
        font: 92px $font-banner;
    }

    &__subtitle {
        font: 24px/36px $font-text;
        margin-top: 38px;
        display: inline-block;
        @include clearfix;
    }
}