@import "master/theme/_fonts";
@import "master/theme/_navbar";
@import "master/theme/_btn";

.container {
    max-width: 1260px;
    margin: 0 auto;
}

#header {
    background: url(../images/common/header.jpg);
    background-size: 100%;
    border-bottom: 10px solid $white;
    padding: 0 0 186px;
    position: relative;

    .header__bullet {
        background: url(../images/common/bullet.png);
        bottom: -57px;
        position: absolute;
        height: 106px;
        width: 106px;
        left: calc(50%/1.07);
    }
}

.social-icon {
    @extend .float-right;
    @extend .list-inline;
    margin: 30px 0;

    li {
        margin-right: 30px;
    }

    a {
        background: url(../images/common/social.png) no-repeat;
        display: block;
        height: 16px;
        transition: all .3s;
        width: 16px;

        &.twitter {
            background-position: 0 0;
        }

        &.facebook {
            background-position: -40px 0;
        }

        &.instagram {
            background-position: -80px 0;
        }

        &:hover {
            opacity: .8;
        }
    }
}

.banner {

    @extend .text-center;
    color: $white;
    padding-top: 90px;

    &__title {
        font: 92px $font-banner;
    }

    &__subtitle {
        font: 24px/36px $font-text;
        margin-top: 38px;
        display: inline-block;
        @include clearfix;
    }
}

// .art-of-cakes

.blockquote {
    color: #a47d5e;
    font: 24px/30px 'SCRIPTIN';
    position: relative;

    &::after {
        content: "";
        background: url(../images/common/blockquote_open.png);
        position: absolute;
        top: 0;
        left: 0;
        height: 14px;
        width: 23px;
    }

    &::before {
        content: "";
        background: url(../images/common/blockquote_close.png);
        position: absolute;
        bottom: 0;
        right: 0;
        height: 14px;
        width: 23px;
    }
}

.art-of-cakes {
    background: $white;
    padding: 100px 0;


    .content {
        display: flex;
        @extend .text-center;

        &__title {
            color: #56534c;
            font: bold 48px/0 $font-title;

            &--24 {
                font-size: 24px;
                line-height: 30px;
            }
        }

        &__subtitle {
            color: #a47d5e;
            font: bold 14px/0 $font-subtitle;
            text-transform: uppercase;
        }

        &__text {
            color: #56534c;
            font: 14px/24px $font-text;
            margin-top: 70px;
            width: 470px;
        }

        &-right {
            align-items: center;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            position: relative;

            &__list-item {
                margin: 0 20px;
                box-sizing: border-box;
                outline: 5px solid $white;
                outline-offset: -18px;
                overflow: hidden;
                transition: outline .3s;

                &:hover {
                    outline-color: #a47d5e;
                }
            }

            &__cake-center {
                background: url(../images/home/cake_center.png);
                height: 247px;
                width: 247px;
                position: absolute;
                top: 165px;
                left: 272px;
                opacity: .9;
            }
        }
    }

    .chef-cook {
        display: flex;
        justify-content: center;

        &__left {
            padding: 34px 22px;
            position: relative;

            &::after {
                content: "";
                border-top: 1px solid #d7d5ca;
                position: absolute;
                width: 111px;
                height: 1px;
                bottom: 15px;
                left: -15px;
            }

            &::before {
                content: "";
                border-bottom: 1px solid #d7d5ca;
                position: absolute;
                width: 111px;
                height: 1px;
                top: 15px;
                left: -15px;
            }
        }

        &__right {
            @extend .chef-cook__left;
        }

        &__center {
            margin: 0px 30px;
        }
    }
}

// .perfect-pancakes

.perfect-pancakes {
    background: url(../images/home/perfect_pancakes.jpg);
    background-size: 100% 100%;
    padding: 140px 0 108px;
}

.slider {
    display: flex;
    justify-content: center;

    &-right {
        background: $white url(../images/home/slider/right_background.png) bottom right no-repeat;
        padding: 80px 60px 40px;
        width: 550px;
        position: relative;

        &__title {
            color: #56534c;
            font: bold 48px/0 $font-title;
        }

        &__subtitle {
            color: #a47d5e;
            font: 14px/0 $font-title;
            text-transform: uppercase;
        }

        &__text {
            color: #56534c;
            font: 14px/24px $font-text;
            margin: 65px 0 100px;
        }
    }

    &-time {
        @extend .text-center;
        background: url(../images/home/slider/slider_texture.jpg) no-repeat;
        box-shadow: 0 0 85px #888;
        height: 200px;
        width: 200px;
        position: absolute;
        top: -50px;
        right: -60px;

        &__ready {
            color: #a47d5e;
            font: bold 18px/0 $font-title;
            text-transform: uppercase;
            margin-top: 46px;
        }

        &__time {
            color: #dfc691;
            font: bold 92px/0 $font-title;
            margin-top: 45px;
        }

        &__min {
            color: #979285;
            font: bold 18px/0 $font-title;
            margin-top: -25px;
        }
    }

    &-navigator {
        
        @extend .list-unstyled;
        display: flex;
        justify-content: center;
        

        &__list {
            margin: 0 30px;

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                opacity: .8;
            }
        }
    }

    &-pager {
        position: relative;
    }

    &-control {
        
        &__prev, &__next {
            background: url(../images/home/slider/slider_control.png) no-repeat;
            position: absolute;
            height: 35px;
            top: 35px;
            width: 35px;
            text-indent: -9999px;

            &:hover {
                background: url(../images/home/slider/slider_control.png) no-repeat;
            }
        }

        &__prev {
            background-position: 0 0;
            left: 0;

            &:hover {
                background-position: -71px 0;
            }
        }

        &__next {
            background-position: -35px 0;
            right: 0;

            &:hover {
                background-position: -105px 0;
            }
        }
    }
}

// .breakfast

.breakfast {
    background: url(../images/home/breakfast/breakfast.jpg);
    background-size: 100% 100%;
    padding: 90px 0 0;
    
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    &-left {

        @extend .text-center;
        width: 630px;

        &__list {
            @extend .list-unstyled;
        }

        .list__item {

            &--font-title {
                
                .list__item__title {
                    font: bold 60px/0 $font-title;
                }
            }

            &__title {
                color: $white;
                font: bold 30px/0 $font-title;
                margin-bottom: 50px;
            }

            &__open {
                color: #c8a593;
                font: bold 18px/0 $font-title;
                margin-bottom: 70px;
                text-transform: uppercase;
            }

            &__text {
                color: #c2beba;
                font: 16px/0 $font-text;
                margin-bottom: 40px;
            }

            &__price {
                color: #dfc691;
                font: 36px/0 $font-subtitle;
                margin-bottom: 50px;
            }
        }
    }

    &-menu {
        background: url(../images/home/breakfast/breakfast_menu.png) no-repeat;
        height: 588px;
        padding: 50px 0 70px;
        width: 458px;
        overflow: hidden;

        &__content {
            width: 370px;
            margin: 0 auto;
        }

        &__title {
            @extend .text-center;
            color: #56534c;
            font: bold 44px/60px $font-title;
        }

        &__text {
            @extend .text-center;
            color: #56534c;
            font: 14px/30px $font-text;
            padding: 0 15px;
            margin-bottom: 35px;
        }

        &__header {
            @include clearfix;
            margin-top: 25px;
        }

        &__time {
            @extend .text-center;
            color: #56534c;
            font: bold 14px $font-title;
            width: 50%;
            margin-top: -20px;
        }

        &__line {
            background: url(../images/home/breakfast/breakfast_menu_line.png) no-repeat;
            height: 61px;
        }
    }
}