.btn {
    
    border-radius: 15px;
    padding: 23px 35px;
}

.btn-border {
    border: 1px solid #010101;
    color: #212121;
    text-transform: uppercase;
}

.btn-primary {
    background: #e11a27;
    color: $white;
    font-size: 26px;
    text-transform: uppercase;
}