#header {
	background: rgba(53,63,70, 0.8);
	height: 150px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	.pull-left {
		margin-top: 45px;
	}
	.pull-right {
		margin-top: 67px;
	}

	nav {

		a {
			border: 2px solid rgba(0,0,0,0);
			color: #fff;
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
			padding: 18px 11px;
      @extend .transition;

			&:hover {
				border: 2px solid #4bcaff;
				color: #4bcaff;
			}
		}

		.active {

			a {
				padding: 18px 11px;
				border: 2px solid #4bcaff;
				color: #4bcaff;
			}

		}
	}
}

.transition {
	transition: all .3s;
}

.logo {
	background: url(../images/logo.png);
	width: 127px;
	height: 23px;
	display: block;
}

section {

	.title {
		color: #fff;
		font-size: 30px;
		position: relative;
		margin-bottom: 40px;

		&::after {
			background: #fff;
			content: '';
			display: block;
			height: 2px;
			position: absolute;
			bottom: -10px;
			width: 45px;
		}
	}
}

#home.banner {
	background: url(../images/banner.png) no-repeat top center;
	background-size: 100% 100%;
	height: 800px;
}

#home {

	.content {
		padding-top: 25%;

		span {
			background: rgba(53,63,70, 0.8);
			color: #fff;
			font-family: "Segoe UI";
			font-size: 42px;
			padding: 18px 32px;
			line-height: 2.5;
			margin-bottom: 12px;
		}
	}
}

#services {
	background: #4bcaff;
	color: #fff;
	padding: 80px 0;

	li {
		width: calc(100% / 4 - 34px);
		display: inline-block;
		padding-right: 20px;
	}

	.item {

		h4 {
			font-size: 24px;
			font-weight: bold;
			margin: 20px 0;
		}

		p {
			font-size: 12px;
			line-height: 1.4;
		}
	}
}

#portfolio {
	padding: 80px 0;

  .title {
    color: #515f67;

    &::after {
      background: #515f67;
    }

		span {
			font-size: 14px;
			
			li {
				padding: 10px 20px;
				border: 2px solid transparent;
				
				&.active {
					border: 2px solid #4bcaff;
				}
				a {
					color: #4bcaff;
					text-transform: uppercase;
				}
			}
		}
  }

	li {
		margin-right: 19px;
		margin-bottom: 19px;
	}

	li.item:hover {
		opacity: 0.8;
	}

	.item {
		position: relative;

		.hover {
			display: none;
		}

		&:hover {

			.hover {
				display: block;
			}
		}
	}

	.hover {
		background: rgba(0,0,0,0.7);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
#features {

	background: #515f67;
	padding: 80px 0;
	color: #fff;
	overflow: hidden;

	p {
		font-size: 14px;
		margin-bottom: 32px;
		padding-right: 60px;
	}

	.btn {
		border: 1px solid #353f46;
		color: #353f46;
		font-weight: bold;
		font-size: 14px;
		padding: 16px 40px;
		text-transform: uppercase;
    @extend .transition;

		&:hover {
			border: 1px solid #4bcaff;
			color: #4bcaff;
		}

	}
	.video {
		margin-top: -75px;
	}
}

#twitter {
	background: #4bcaff;
	color: #fff;
	padding: 80px 0;

	p {
		font-size: 28px;
		line-height: 1.8;
	}
}
#who {
	background: url(../images/who.jpg) no-repeat top center;
	background-size: 100%;
	color: #fff;
	height: 325px;
	padding: 80px 0;

	p {
		font-size: 14px;
		line-height: 24px;
		padding-right: 20px;
		margin-bottom: 30px;
	}
}


#testimonials {
  color: #515f67;
  padding: 80px 0;

  .title {
    color: #515f67;

    &::after {
      background: #515f67;
    }
  }

  p {
    font-size: 28px;
    line-height: 50px;
  }

  span {
    color: #4bcaff;
    font-size: 14px;
    font-weight: bold;
  }
}

#contact {
  background: url(../images/contact.jpg) no-repeat top center;
  color: #fff;
	height: 654px;
  padding: 80px 0;

	.about {
		p {
			font-size: 14px;
			line-height: 24px;
			margin-bottom: 30px;
		}
	}

	.address {
		margin-bottom: 20px;
		p {
			font-size: 14px;
			line-height: 24px;
		}
		
	}

	.form-group {

		label {
			color: #fff;
			display: block;
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 5px;
			text-transform: uppercase;
		}

		input, textarea {
			background: transparent;
			color: #fff;
			outline: 0;
			border: 1px solid #fff;
			padding: 10px 5px 10px 15px;
			margin-bottom: 20px;
			width: 470px;
		}

		textarea {
			width: 100%;
		}
	}

	#action {
		input {
			border: 1px solid #4bcaff;
			background: #4bcaff;
			color: #fff;
			font-size: 14px;
			font-weight: bold;
			width: 370px;
			height: 60px;
		}
	}
}

footer {

	background: #353f47;
	padding: 80px 0;
	
	li {
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		border-right: 1px solid #515f67;
		padding: 0 20px;

		&:first-child {
			padding-left: 0; 
		}

		&:last-child {
			border: none;
		}
	}

	a {
		
		color: #515f67;
	}
}