* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.list-inline li{
  display: inline-block;
}

.text-center {
  text-align: center;
}

.clearfix {
  clear: both;
}

header {
  background: #fff;
  height: 80px;
}

header .logo {
  background: url(../img/logo.png) no-repeat;
  display: block;
  height: 29px;
  width: 134px;
}

header nav {
  padding: 25px 0;
}

header li {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 20px 0 0;
}

header li a {
  color: #434a54;
}

.jumbotron {
  background: #31333e;
  padding-top: 60px;
  margin-bottom: 150px;
  height: 600px;
}

.jumbotron h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 60px;
}

.jumbotron p {
  margin: -20px 0 80px;
}

.jumbotron .btn {
  color: #fff;
  background: #00aeff;
  border-radius: 5px;
  font-weight: bold;
  padding: 15px 20px;
  margin: 0 auto;
}

.jumbotron img {
  display: block;
  margin: 0 auto;
}

.jumbotron .slider {
  margin-top: 20px;
}