#header {
  background: #fff;

  .navbar {
    background: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.4);
    min-height: 102px;
  }

  .logo {
    padding: 10px 0;

    &:hover {
      opacity: .8;
    }
  }

  .menu {
    padding: 40px 50px;

    li {
      margin: 0 50px;
    }

    .active a{
      color: #303030;
    }

    a {
      font-size: 12px;
      font-weight: bold;
      color: #a7a7a7;
      text-transform: uppercase;
    }
  }
}

// Jumbotron

.jumbotron {
  background: url(../images/index/jumbotron.jpg) no-repeat top center;
  background-size: 100% 100%;
  padding: 175px 0 206px;
  @extend .text-center;
  color: #303030;
  position: relative;

  h2 {
    font-size: 40px;
    margin-bottom: 33px;
    text-transform: uppercase;
  }

  p {
    color: #5a5a5a;
    font-style: italic;
  }

  #jump {
    background: url(../images/index/arrow-bottom.png) no-repeat;
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 53px;
    left: 47%;

    &:hover {
      opacity: .8;
    }
  }
}

%section {
  padding: 50px 0 70px;
  overflow: hidden;
  @extend .text-center;

  h3 {
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;
    

    &::after {
      content: "";
      background: #303030;
      height: 3px;
      width: 240px;
      position: absolute;
      bottom: 0;
      left: 36%;
    }
  }

  p {
    color: #5a5a5a;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 25px;
  }
}

// List-item

// Features

#features {
  @extend %section;
}

// Features Work

.features-work {
  .item-box {
    float: left;
    display: block;
    width: 262px;
    height: 170px;
    margin: 19px;
    position: relative;

    &::after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      top: 0;
      left: 0;
      opacity: 0;
      transition: all .3s;
    }

    &:hover::after {
      opacity: 1;
    }

    &::before {
      @extend ::after;
      content: "+";
      font-size: 3em;
      color: #fff;
      line-height: 3.2em;
      color: #fff;
      z-index: 1;
    }

  }
}

// Team

#team {
  @extend %section;
  background: #f3f3f3;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;

  .list-item {
    
    h4 {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
    }

    p {
      font-size: 12px;
      font-style: italic;
      margin-bottom: 10px;
    }
  }

  .item {
    float: left;
    background: #fff;
    width: 211px;
    height: 211px;
    box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.4);
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }
  }

  .item-box {
    
    img {
      margin: 20px 0 10px;

      &:hover {
        opacity: .8;
      }
    }
  }

  .social {
    a {
      display: inline-block;
      margin: 0 10px;

      &:hover {
        opacity: .8;
      }
    }
    .twitter {
      background: url(../images/index/team/icon-twitter.png);
      width: 17px;
      height: 12px;
    }
    
    .linkedin {
      background: url(../images/index/team/icon-linkedin.png);
      width: 15px;
      height: 14px;
    }

    .dribbbel {
      background: url(../images/index/team/icon-dribbbel.png);
      width: 14px;
      height: 14px;
    }

    .skype {
      background: url(../images/index/team/icon-skype.png);
      width: 18px;
      height: 18px;
    }
  }
}

// Contact

%lr {
  text-align: left;

  p {
    color: #5a5a5a;
    font-size: 16px;
  }
}

#contact {
  @extend %section;

  .left {
    @extend %lr;
    width: 320px;
    margin-right: 40px;
  }

  .right {
    @extend %lr;
    width: 540px;

  }

  .form-control {
    width: 100%;
    margin-bottom: 20px;
  }

  textarea {
    background: #f2f2f2;
    border: 1px solid #d9d9d9;
    padding: 20px;

    &::-moz-placeholder {
      font-style: italic;
      color: #5f5f5f;
    }

    &::-webkit-input-placeholder{
      font-style: italic;
      color: #5f5f5f;
    }
  }

  input {
    @extend textarea;
  }

  .btn {
    @extend textarea;
    background: #6995a9;
    color: #fff;
    font-weight: bold;
    position: relative;
    padding: 20px 92px;
    margin-right: -43px;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    @extend %transition;

    &::after {
      background: url(../images/index/icon-contact.png);
      content: "";
      position: absolute;
      top: 21px;
      left: 25%;
      width: 16px;
      height: 14px;
    }

    &:hover {
      background: #3E7CF6;
    }
  }
}

// footer

#footer {
  background: #4f4f4f;
  overflow: hidden;
  color: #6e6e6e;
  padding: 37px 0;

  span {
    color: #949494;
  }
}