#header {
  background: #fff;

  .navbar {
    background: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.4);
    min-height: 102px;
  }

  .logo {
    padding: 10px 0;
  }

  .menu {
    padding: 40px 50px;

    li {
      margin: 0 50px;
    }

    a {
      font-size: 12px;
      font-weight: bold;
      color: #a7a7a7;
      text-transform: uppercase;
    }
  }
}

.jumbotron {
  background: url(../images/index/jumbotron.jpg) no-repeat top center;
  background-size: 100% 100%;
  padding: 175px 0 206px;
  @extend .text-center;
  color: #303030;

  h2 {
    font-size: 40px;
    margin-bottom: 33px;
    text-transform: uppercase;
  }

  p {
    color: #5a5a5a;
    font-style: italic;
  }
}