// Common

$primary-color: #007ee5;
$primary-color-hover: #025aa5;

  // title

  %u-bold {
    text-transform: uppercase;
    font-weight: bold;
  }

  // btn

.btn {
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  padding: 20px 50px;
  text-decoration: none !important;
  @extend %u-bold;

  &-primary {
    background: $primary-color;
    transition: background .3s;

    &:hover {
      background: $primary-color-hover;
    }
  }

  &-outline-primary {
    background: #fff;
    transition: background .3s;
    color: $primary-color !important;
    border: 2px solid $primary-color;

    &:hover {
      background: #eee;
    }
  }
}

// Header

#header {
  position: fixed;
  width: 100%;
  padding-top: 57px;
  transition: all .3s;
}

.shrink {
  padding: 20px 0 !important;
  background: #222;

  .navbar-nav a {
    transition: color .3s;
    
    &:hover {
      color: $primary-color;
    }
  }
}

.navbar {
  
  .nav-brand {
    @extend .pull-left;
  }

  .nav {
    @extend .list-inline;
  }

  .navbar-nav {
    @extend .pull-right;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;

    a {
      color: #fff;
      padding: 0 10px;
    }
  }
}

.social-share {

  @extend .pull-right;
  margin-left: 30px;

  a {
    display: block;
    width: 20px;
    height: 19px;
    padding: 0 !important;

    &.facebook {
      background: url(../images/common/social-share.png) 0 0;
    }

    &.twitter {
      background: url(../images/common/social-share.png) -32px 0;
    }

    &.gplus {
      background: url(../images/common/social-share.png) 21px 0;
    }
  }
}

// jumbotron

.jumbotron {
  background: url(../images/index/header_bg.jpg) no-repeat;
  background-size: 100% 100%;
  padding: 350px 0 170px;
  color: #fff;
  @extend .text-center;

  h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  p {
    font-size: 18px;
    margin-bottom: 50px;
  }
}

// Call to action

.call-to-action {
  background: $primary-color;
  color: #fff;
  padding: 80px 0;
  overflow: hidden;

  h3 {
    @extend %u-bold;
    font-size: 26px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
  }
}

// Features

.features {
  padding: 115px 0 85px;
  
  .title {
    width: 715px;
  
    h3 {
      @extend %u-bold;
      color: $primary-color;
      font-size: 26px;
      margin-bottom: 20px;
    }

    p {
      color: #888;
      font-size: 18px;
    }
  }
}