// Header

.navbar {
  
  .nav-brand {
    @extend .pull-left;
  }

  .nav {
    @extend .list-inline;
  }

  .navbar-nav {
    @extend .pull-right;
    text-transform: uppercase;
    font-size: 18px;
    

    a {
      color: #fff;
      padding: 0 10px;
    }
  }
}

.social-share {

  @extend .pull-right;

  a {
    display: block;
    width: 20px;
    height: 19px;
    padding: 0 !important;

    &.facebook {
      background: url(../images/common/social-share.png) 0 0;
    }

    &.twitter {
      background: url(../images/common/social-share.png) -32px 0;
    }

    &.gplus {
      background: url(../images/common/social-share.png) 21px 0;
    }
  }
}

// jumbotron

.jumbotron {
  background: url(../images/index/header_bg.jpg) no-repeat;
  background-size: 100%;
  padding: 20px;
}