.btn {
    background: rgba(0, 0, 0, 0);
    display: inline-block;
    font: 14px/24px $font-title;
    padding: 20px 50px;
    text-transform: uppercase;

    &:hover {
        text-decoration: none;
    }

    &--banner {
        background: rgba(0, 0, 0, .2);
        border: 1px dashed #9e9c93;
        color: $white;
        letter-spacing: 5px;
        transition: background .3s;

        &:hover {
            background: rgba(0, 0, 0, .5);
        }
    }
}