.navbar {
     background: rgba(0, 0, 0, .5);
     overflow: hidden;
     height: 70px;

     .nav {

         @extend .float-left;
         margin: 30px 0 0 100px;

         &__list {
             
             margin: 0 90px 0 0;
             position: relative;

             &::after {
                 content: "~";
                 color: $white;
                 margin-left: 10px;
                 position: absolute;
                 right: -45px;
             }

             &:last-child {
                
                &::after {
                    content: "";
                }
             }
         }
         
         a {
             font: 14px $font-subtitle;
             color: $white;
             margin-right: 20px;
             text-transform: uppercase;
         }
     }
}

.nav-brand {
    @extend .float-left;
    margin-top: 18px;
    transition: all .3s;

    &:hover {
        opacity: .8;
    }
}