.pd {
  padding: 20px 25px 25px;
}

main {
  overflow: hidden;
}

#top {
  background: #ffb8b8;
  font-size: 14px;
  padding: 10px 0;
}

.intro {
  background: url(../images/slider_bg.jpg);
  height: 300px;
  margin-bottom: 20px;
}

#primary {
  width: 680px;
  float: left;
}

.box {
  margin-bottom: 30px;
  &-title {
    position: relative;

    img {
      position: absolute;
      top: -38px;
      left: 10px;
    }

    h2 {
      background: url(../images/bg_title_1.jpg);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: #fff;
      font-size: 24px;
      padding: 12px 0 12px 156px;
      margin-top: 36px;
    }
  }

  .box-content {
    background: #efefef;
    padding: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .content {
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.3);
    

    p {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.huychuong {
  .box-title {

    img {
      top: -24px;
    }

    .date {
      background: url(../images/huychuong_button.png) no-repeat;
      height: 28px;
      padding: 3px 20px 0;
      position: absolute;
      top: 8px;
      left: 100px;
      width: 212px;

      span {
        color: #fff;
      }
    }

    h2 {
      background: url(../images/bg_title_huychuong.jpg);
      font-size: 30px;
      padding: 40px 0 3px 98px;
    }
  }

  .box-content {
    background: #ffc4c4;
  }

  .content {

    position: relative;

    .top {
      position: absolute;
      top: 0;
      left: 10px;
    }
  }

  h3.title {
    background: #fffeca;
    border-bottom: 1px solid #ffc4c3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 26px 0px 26px 94px;
    color: #fa5a5c;
  }

  .pd {
    overflow: hidden;
  }

  .col-1 {
    width: 210px;
    float: left;
  }

  .col-2 {
    padding-left: 230px;

    p {
      letter-spacing: 0.24em;
      color: #666;
    }
  }

  .btn {
    background: url(../images/button/bg.png);
    border-radius: 5px;
    color: #fff;
    display: block;
    padding: 9px 0px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    position: relative;

    img {
      position: absolute;
      left: 128px;
      top: 8px;
    }
  }

}